/* remove white space at top of page */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden; /* prevent scroll in mobile site */
}

h1 {
    font-size: 25px !important;
    color: lightgray;
}

h2 {
    font-size: 7vh;
    color:#61A5C2;
    margin: 0;
}

h3 {
    font-size: 30px;
    color: lightgrey;
}

.header {
    /* to have header box shadow displayed above main */ 
    box-shadow: 0px 15px 30px 0px rgba(0,0,0, 0.75);
    background-color: #012A4A; 
    height: 70px; 
    display: flex;
    justify-content: right;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 900;
    transition: top 0.3s ease-in-out;
}

/* for js functionality on scroll */
.header-hidden {
    top: -100%;
}

.menu-container {   
    display: flex;
    align-items: center; 
    margin-right: 30px;
    padding: 10px 20px; 
    height: 50px; 
}

/* Hamburger Menu button to toggle menu display */
.menu-button {
    background: transparent;
    cursor: pointer;
}

/* to generate the X with JS on click */
.menu-button.open span:first-child {
    transform: rotate(45deg) translate(8px, 8px);
}

.menu-button.open span:nth-child(2) {
    display: none;
}

.menu-button.open span:nth-child(3) {
    transform: rotate(-45deg);
    margin-bottom: 7px;
}

/* hamburger lines styling */
.menu-bar {
    display: block;
    width: 35px;
    height: 4px;
    background-color: #A9D6E5;
    border-radius: 2px;
    margin-bottom: 7px;
    transition: transform 0.2s;
}

/* center align */
.menu-bar:last-child {
    margin-bottom: 0;
}

/* slide in menu for mobile */
.menu {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    /* start below header so no overlap */
    top: 70px;
    /* out of view */
    right: -100%;
    /* padding and margins included in total height and width */
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 20px;
    background-color: #A9D6E5;
    transition: right 0.5s ease-in-out;
}
 
/* class added in js to display */
.menu.open {
    right: 0;
}

nav ul {
    /* remove default list styles */ 
    list-style: none;
    padding: 0px;
    margin-bottom: 0px;

    /* orientation of labels */
    display: flex;
    flex-direction: column;
    text-align: left;
}
 
nav li {
    margin: 10px;
}

nav a {
    color: #012A4A;
    text-decoration: none;
    font-size: 56px;
}




/****************/
/* Main content */
/***************/ 

section {
    /* height: 100vh; /* Make the section height equal to the full viewport height */
    min-height: 100vh;
    margin: 0 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-container {
    background-color: #013A63;
    /* for the box shadow of the header to be visible */
    position: relative;
    z-index: 90;
}

.main-hero {
    /* minus header height */
    min-height: calc(100vh - 70px);
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: center;      
}

.main-hero-icons {
    display: flex;
    flex-direction: row;
    align-items: center; 
}

.resume {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    color: #013A63;
    background: linear-gradient(to bottom, #A9D6E5, lightgray);
}

.fab {
    color: linear-gradient(to bottom, #A9D6E5, lightgray);
    font-size: 40px;
    margin-left: 10px; 
    cursor: pointer; 
}

/*********/
/* about */
/*********/

.about-img{
    z-index: 50;
}

.about-hs-outer {
    display: flex; /* need this otherwise z-index doesn't work */
    position: relative;
    width: 250px;
    height: 250px;
    box-shadow: 0 0 10px black;
    margin: 0 auto;
    border-radius: 10px;
}

.about img {
    max-width: 100%; 
    display: block; 
    height: auto;
    border-radius: 10px;       
}

.about-box {  
    border: 4px solid #61A5C2;  
    border-radius: 10px;
    position: absolute;
    top: 20px;
    bottom: -20px;
    left: 20px;
    right: -20px;
    z-index: 40;
}

.about-text {
    margin-bottom: 20px;
}

.about-text-indiv {
    background-color: #61A5C2;
    border-radius: 10px;
    margin: 20px 0px;
    box-shadow: 0 0 10px black;
}

.about-text-indiv p {
    font-size: 20px;
    color: lightgray;
    padding: 20px 20px;
}

.about-grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
 }

/************/
/* projects */
/************/

.projects-indiv {
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: lightgray;
}

.project-indiv-text {
    padding: 0 20px;
    margin-bottom: 20px;
    color: #012A4A;
}

.projects-button-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;;
}

.projects-button {
    cursor: pointer;
    background-color: #61A5C2;
    padding: 10px 20px;
    border-radius: 5px;
}

.projects-button:hover {
    background-color: #013A63;
    color: lightgray;
}

.projects-button:first-child{
    margin-right: 10px;
}

.pimg img {
    max-width: 100%; 
    display: block; 
    height: auto;
    border-radius: 5px;
}

/****************/ 
/* Contact form */
/****************/

.contact-form {
    background-color: #61A5C2;
    padding: 50px;
    border-radius: 10px;
}

.contact-form h3 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="email"],
textarea {
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px !important;
    border: 2px solid #012A4A;
}

form button {
    background-color: #012A4A;
    color: white;
    border-radius: 10px;
    width: auto;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
    padding: 10px 20px;
}

textarea {
    height: 150px;
    resize: none;
}

textarea:focus,
input[type="text"]:focus,
input[type="email"]:focus {
  background: #2A6F97;
  outline: none;
  box-shadow: 0 0 6px grey;
}

input:focus::placeholder,
textarea:focus::placeholder  {
    color: white;
}

/**********/ 
/* Footer */
/**********/

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #012A4A;  
    color: lightgray;  
    box-shadow: 0px -15px 20px 0px rgba(0,0,0,0.75);
    z-index: 110;
    position: relative;
}

/**************/
/* Responsive */
/**************/


/* display menu items in header for anything bigger than mobile */
@media (min-width: 600px) {

    /* don't display hamburger when not mobile */
    .menu-button {
        display: none;
    }

    /* reset position to be placed in header not in slide-out menu */
    .menu {
        position: unset;
        background-color: transparent;
        padding: 0px;
    }

    nav ul {
        display: flex;       
        flex-direction: row;
        align-items: center;
        margin: 0;  
    }

    nav li {
        margin-right: 20px;
    }

    nav li:last-child {
        margin: 0px;
    }

    nav a {
        font-size: 32px;
        color: #89C2D9;
    }

    nav a:hover {
        border-bottom: 2px solid #A9D6E5;
        color: #A9D6E5;
    }

    nav a:active {
        border-bottom: 2px solid #A9D6E5;
        color: red;
    }
    
}

/* for small tablets and larger */
@media (min-width: 800px) {
    .main-hero {
        max-width: 800px;
        margin: 0 auto;
    }

    .about {
        max-width: 800px;
        margin: 0 auto;
    }

    .about-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 600px;
    }

    .about-hs-outer {
        top: 150px;
    }

    .projects-outer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .projects-indiv:first-child {
        margin-right: 10px;
    }

    .projects{
        max-width: 800px;
        margin: 0 auto;
    }

    .contact {
        max-width: 800px;
        margin: 0 auto;
    }
}
