/* colours 
grey #d3d3d3
lightblue #A9D6E5
greyblue #61A5C2
dark blue #013A63
darker blue #012A4A
*/


/**********************/
/* main html elements */
/**********************/

/*
html { 
    font-size: calc(1em + 1vw) 
}
*/

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;

    /*
    background-image: url("/images/Wallpaper4.png");
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: top; 
    */
    /* to position footer at bottom of page */
    display:flex;
    flex-direction:column;
    min-height: calc(100vh - 1rem); /* minus size of footer */
}

h1 {
    font-size: 1.5625rem;
    color: #d3d3d3;
    margin: 0 !important;
    padding: 0;
    text-align: center;
}

h2 {
    font-size: 2rem;
    font-weight: 900;
    color:#013A63;
    font-weight: 700;
}

h3 {
    font-size: 1.875rem;
    color: #A9D6E5;
}


/****************/
/* Main content */
/***************/ 

.main-container {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 5px;
    background-color: #d3d3d3;
    flex:1; /* to position footer at bottom of page */
}

.main-left {
    /*background-color: #d3d3d3; */
}


.main-right {
    background-color: #013A63;
}


/************/
/* projects */
/************/

.projects {
    border: 1px solid red;
    margin: 20px;
}

.projects-outer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.projects-indiv {
    border: 3px solid black;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    /*margin-bottom: 20px; */
    background-color: #d3d3d3;
}

.project-indiv-text {
    padding: 0 20px;
    margin-bottom: 20px;
    color: #012A4A;
    height: 150px;

}

.projects-button-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

}

.projects-button {
    cursor: pointer;
    background-color: #61A5C2;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid black;
}

.projects-button:hover {
    background-color: #013A63;
    color: #d3d3d3;
}

.projects-button:first-child{
    margin-right: 10px;
}

.pimg img {
    max-width: 100%; 
    display: block; 
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


/*
section {
    /* height: 100vh;  Make the section height equal to the full viewport height 
    min-height: 100vh; 
    margin: 0 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
*/

/*
.main-hero {
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;      
}
*/


/*********/
/* about */
/*********/



.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.about-top {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    gap: 30px; /* space between hs and icons */
    /* margin-bottom: 50px;  move h1 lower */
}

/* head shot */
.about-hs-outer {
    display: flex; /* need this otherwise z-index doesn't work */
    position: relative; /* for box positioning */
    width: 15rem;
    height: 15rem;
    box-shadow: 0 0 10px black;
    margin: 0 auto;
    border-radius: 10px;
}

.about img {
    max-width: 100%; 
    display: block; 
    height: auto;
    border-radius: 10px;   
    border: 3px solid black;    
}

/* for blue border */
.about-img{
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-box {  
    border: 4px solid #61A5C2;  
    border-radius: 10px;
    z-index: 40;
    position: absolute;
    top: -1.25rem;
    bottom: 1.25rem;
    left: 1.25rem;
    right: -1.25rem;

}

/* resume, github, linkedin icons */
.about-icons {
    display: flex;
    flex-direction: row;
    max-width: fit-content;
    align-items: center; 
}

.resume {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 700;
    color: #013A63;
    background: /*linear-gradient(to top, #A9D6E5, #d3d3d3); */ #61A5C2;
    /*border: 3px solid black; */
}

.fab {
    font-size: 2.5rem;
    margin-left: 10px; 
    cursor: pointer; 
    color: #61A5C2;
}

.about-bottom {
    margin: 50px 20px 0px 20px;
}

.about-text-indiv {
    background-color: #61A5C2;
    border-radius: 10px;
    margin: 20px 0px;
    padding: 10px 30px;
    border: 3px solid black;
    box-shadow: 0 0 10px black;
}

.about-text-indiv p {
    font-size: 1.125rem;
    color: #012A4A;
    line-height: 1.8;

}

/**********/ 
/* Footer */
/**********/

footer {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    color: #012A4A;  
    /*box-shadow: 0px -15px 20px 0px rgba(0,0,0,0.75);
    z-index: 110; 
    position: relative; */
    background: linear-gradient(to bottom, #A9D6E5, #d3d3d3);
}

/**************/
/* Responsive */
/**************/


/* display menu items in header for anything bigger than mobile 
@media (min-width: 600px) {

   
}
*/

/* for small tablets and larger
@media (min-width: 800px) {

    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    section {
        min-height: unset;
        width: 800px;
    }

    .about-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .about-hs-outer {
        top: 40%;  
    }

    .projects-outer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .projects-indiv:first-child {
        margin-right: 10px;
    }

    /* use padding for href js scroll, margin gets ignored 
    .projects {
        padding: 150px 0; 
    }

    .contact {
        margin-bottom: 200px;
    }

}
*/